#template-card-container {
    width: 50px;
    height: 50px;
    background: red;


}

#templates-content {
    .menu.right {
        text-align: right;
        .menu-list {
            text-align: left;
         
        }
    }
    
}