@charset "utf-8";
@import "~bulma/bulma";
@import "view/templates.scss";
@import "view/art.scss";
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 2rem;
}


.shown {

}

.hidden {
    display: none;
}


.project-settings-fields {
    display: flex;
    flex-direction: column;
}

